extends base-layout.pug


//- NB: Replaces the "block main" part in base-layout.pug
block main
    div.post 
        .title= title
        if date
            .date= "Posted: " + DateTime.fromMillis(parseInt(timestamp)).toFormat("dd-LL-yy")
        if updated
            .updated= "Updated:" + DateTime.fromMillis(parseInt(updatedTimestamp)).toFormat("dd-LL-yy")
        .body !{contents}