
/* SCSS RGB */
$eerie: rgba(20, 20, 20, 1);
$midnight: rgba(11, 57, 72, 1);
$bole: rgba(120, 79, 65, 1);
$glossy: rgba(167, 153, 183, 1);
$turquoise: rgba(184, 213, 184, 1);

$eerie2: hsla(0, 0%, 8%, 1);
$midnight2: hsla(207, 27%, 16%, 1);
$bole2: hsla(10, 28%, 36%, 1);
$glossy2: hsla(291, 11%, 64%, 1);
$turquoise2: hsla(93, 17%, 76%, 1);
